<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maru.inunavi">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InuNavi"
        android:usesCleartextTraffic="true">



        <activity
            android:name="com.maru.inunavi.LaunchActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
            android:name="com.maru.inunavi.MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.user.LoginActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.user.SignUpActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.ui.timetable.SettingActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.ui.timetable.search.SearchActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

        </activity>

        <activity
            android:name="com.maru.inunavi.ui.timetable.search.SearchOptionActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.ui.timetable.search.SearchMajorActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.ui.timetable.search.SearchCSEActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.ui.timetable.search.SearchSortActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.ui.timetable.search.SearchGradeActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.ui.timetable.search.SearchCategoryActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.ui.timetable.search.SearchScoreActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.ui.map.MapDetailActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.ui.map.MapNaviSearchActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.ui.map.MapPickLocationActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.ui.map.MapNavigationActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.ui.satisfied.MapOverviewActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.user.ChangePasswordActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.user.QuitActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.AppInfo"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.user.FindPasswordActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.user.FindPasswordCheckActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.user.FindPasswordChangeActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.maru.inunavi.ui.timetable.search.ScheduleListActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAHc4z-ZU1saOBMV0r-xKKy_GNmiPQeG5c" />

    </application>

</manifest>